@font-face {
    font-family: 'Inconsolata';
    src: url("https://fonts.googleapis.com/css?family=Inconsolata");
}

@font-face {
    font-family: 'Amble';
    src: url('./Amble-Regular.ttf');
}

body {
    font-family: 'Amble', sans-serif;
    padding: 0 20px 20px 20px;
    font-size: large;
            }

h1 {
    font-size: 2em;
}

h2,
h3 {
    text-align: left;
    font-weight: lighter;
}

h2 {
    font-size: 1.2em;
}

html {
    background-color: #8c92ac;
}

pic {
    margin: 0, auto;
}

.em {
    color: black;
}